{% extends 'default.html' %}
{% load custom_filters %}
{% block title %}
Post
{% endblock title %}

{% block content %}
<h1>Все новости</h1>
    <table>
        <tr>
            <td>Заголовок</td>>
            <td>Дата</td>>
            <td>Статья</td>>
            <td><a href="/category/">Категория</a> </td>
        </tr>
        <hr>
        {% for new in news %}
        <tr>
            <td><a href="/news/{{ new.id }}/edit">{{new.title|truncatechars:20|censor}}</a></td>
            <td>{{new.time_create|date:'d M Y'}}</td>
            <td>{{new.text_news|truncatechars:20|censor}}</td>
            <td>
                {% if new.category.all %}
                    {% for cat in new.category.all %}
                        {{cat.name}}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                {% else %}
                    Нет категории
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
   {% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}